@model Grados;

@{
    ViewData["Title"] = "Listado de Grados";
}
<h2></h2>
<h1>Listado de grados</h1>
<h3>@Model.Nombre es una materia que imaprte @Model.Profe </h3>
<label>Esto es una prueba</label>
<h2></h2>
<div class="text-center">

</div>