@model Profesor;

@{
    ViewData["Title"] = "Listado de Profesores";
}

<h1>Listado de Profesores</h1>
<h3>@Model.Nombre Es un maestro de la materia @Model.Carrera </h3>

<label>Esto es una prueba 2 :3</label>
<h2></h2>
<div class="text-center"></div>